<h1>Most Dangerous Day</h1>
<%= @start_date.strftime('%B %e, %Y') %> - <%= @end_date.strftime('%B %e, %Y') %></br>
<% if @presenter.most_dangerous_day.class != String %>
  Most dangerous day in that range: <%= @presenter.most_dangerous_day.strftime('%B %e, %Y') %>
<% else %>
  Most dangerous day in that range: <%= @presenter.most_dangerous_day %>
<% end %></br>
<% if @presenter.asteroids.class != String %>
  <div class="asteroids">
    <% @presenter.asteroids.each do |asteroid| %>
      <div class="asteroid">
        Name: <%= asteroid.name %></br>
        NEO Reference ID: <%= asteroid.neo_id %>
      </div>
    <% end %>
  </div>
  <% else %>
  <%= @presenter.asteroids %>
<% end %>
